body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: darkslategrey;
  color: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(55, 179, 196);
  border: 3px solid rgb(63, 63, 63);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 133px;
  height: 133px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 133px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  display: table;
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
}
.game{
  display: table-cell;
  vertical-align: middle;
}
.game-board{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.game-info {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

